.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  
  
  .image-container {
    display: fixed;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    max-height: 69vh ;
    background-color: rgb(85, 85, 85);
    border-radius: 15px;
    overflow-x: auto;
  }
  
  .image-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #ccc; /* Add a border to make the container visible */
    padding: 20px; /* Add padding for better appearance */
    border-radius: 8px; /* Optional: Add rounded corners */
    background-color: #fff; /* Ensure background color is white */
    gap: 10px;
    width: 300px;
    height: 320px;
  }
  .image-item img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
  }
  
  .image-text {
    font-size: 16px; 
  }
  
  .dialogbox{
    border-radius: 20px;
    padding: 20;
  }